<div class="my-question-details"
     data-component="my-question-details">

  <div class="my-question-details__session-title-wraper">
    <section class="my-question-details__session-title-container"
             data-element="my-question-details__session-title-container">
    </section>
  </div>

  <div class="my-question-details__status-question-wraper">
    <section class="my-question-details__status-question-container"
            data-element="my-question-details__status-question-container">
    </section>
  </div>

  <section class="my-question-details__question-container"
           data-element="my-question-details__question-container">
  </section>

  <section class="my-question-details__session-container"
           data-element="my-question-details__session-container">
  </section>

  <section class="my-question-details__about-speaker-container"
           data-element="my-question-details__about-speaker-container">
  </section>

  <div class="my-question-details__button-back-wraper">
    <div class="my-question-details__button-back-container"
         data-element="my-question-details__button-back-container">
    </div>
  </div>

</div>
