.navigation-header {
  height: 100%;

  &__button-speakers-container,
  &__button-login-container,
  &__button-registration-container,
  &__button-create-speaker-container,
  &__button-profile-setings-container {
    display: inline-block;
    height: 100%;
  }
}
