@import 'components/__shared/css/variables.scss';

.navigation-header {
  background-color: $white;
  font-size: 0px;

  &__button-speakers-container,
  &__button-login-container,
  &__button-registration-container,
  &__button-create-speaker-container,
  &__button-logout-container {
    display: inline-block;
    font-size: 1rem;
  }
}
