<form class="form-add-session"
      data-component="form-add-session">

  <label class="form-label form-add-session__label"
         for="theme">
  Название сессии
  </label>
  <div class="form-add-session__tip-container"
       data-element="form-add-session__tip-theme-container">
  </div>
  <div class="form-add-session__theme-container"
       data-element="form-add-session__theme-container">
  </div>


  <label class="form-label form-add-session__label"
         for="describe-session">
  Описание сессии
  </label>
  <div class="form-add-session__tip-container"
       data-element="form-add-session__tip-describe-session-container">
  </div>
  <div class="form-add-session__describe-session-container"
       data-element="form-add-session__describe-session-container">
  </div>


  <label class="form-label form-add-session__label"
         for="category">
  Категория
  </label>
  <div class="form-add-session__tip-container"
       data-element="form-add-session__tip-category-container">
  </div>
  <div class="form-add-session__category-container"
       data-element="form-add-session__category-container">
  </div>


  <div class="form-add-session__submit-container"
       data-element="form-add-session__submit-container">
  </div>
</form>
