<div class="progress-bar"
     data-component="progress-bar">
  <progress class="progress-bar__progress"
            data-element="progress-bar__progress"
            value="{{value}}"
            max="{{max}}">
    загрузка
  </progress>
</div>
