@import 'components/__shared/css/variables.scss';

.button-header {
  background-color: white;
  height: 100%;
  box-sizing: border-box;


  &__link {
    display: inline-block;
    height: 100%;
    text-decoration: none;
    vertical-align: middle;
    padding: 0 10px;
    color: $gray;

    &_selected {
      color: $light-blue;
    }
  }

  &__link:hover {
    color: $black;
  }

  &__link:before {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
  }
}
