@import 'components/__shared/css/variables.scss';

.button-main {
  height: 100%;

  &__button {
    font-size: 100%;
    height: 100%;
    background-color: $orange;
    padding: 10px 16px;
    color: $white;
    border-radius: 2px;

    &:hover {
      background-color: $darkOrange;
    }

    &_color-gray {
      background-color: gray;
    }
  }
}
