<div class="my-sessions"
     data-component="my-sessions">
  <div class="my-sessions__title-container"
       data-element="my-sessions__title-container">
  </div>
  <div class="my-sessions__session-list-container"
       data-element="my-sessions__session-list-container">
  </div>
  <div class="my-sessions__button-go-to-add-session-container"
       data-element="my-sessions__button-go-to-add-session-container">
  </div>
  <div class="my-sessions__add-session-container"
       data-element="my-sessions__add-session-container">
  </div>
</div>
