@import 'components/__shared/css/variables.scss';

.main-section {
  width: 75%;
  margin: 0 auto;
  color: $white;
  text-align: center;

  &__user-name {
    text-align: right;
    padding-top: 10px;
    padding-right: 10px;
  }
  &__describe-container {
    width: 75%;
    text-align: center;
    box-sizing: border-box;
    margin: 0 auto;
    padding: 60px 0;
  }
  &__describe-header {
    font-size: 280%;
    font-weight: bold;
  }
  &__describe {
    font-size: 110%;
    margin-top: 20px;
  }
  &__user-navigation-container {
    width: 100%;
    display: inline-block;
    background-color: rgba(0, 0, 0, 0.4);
  }
}
