<div class="add-sessions"
     data-component="add-sessions">
  <h2 class="add-sessions__describe">
    Создание новой сессии
  </h2>
  <div class="add-sessions__form-container"
       data-element="add-sessions__form-container">
  </div>
</div>
