<div class="add-sessions"
     data-component="add-sessions">
  <div class="add-sessions__title-container"
      data-element="add-sessions__title-container">
  </div>
  <div class="add-sessions__form-container"
       data-element="add-sessions__form-container">
  </div>
</div>
