@import 'components/__shared/css/variables.scss';

.form-create-speaker {
  padding-bottom: 250px;

  &__add-avatar-container {
    height: 130px;
    margin-bottom: 15px;
  }

  &__label {
    display: inline-block;
    padding-bottom: 2px;

    & span {
      font-size: 70%;
    }
  }

  &__tip-container {
    margin-bottom: 5px;
  }

  &__firstname-container,
  &__lastname-container,
  &__email-container,
  &__password-container,
  &__category-container,
  &__about-container, {
    margin-bottom: 15px;
  }

  &__password-container,
  &__email-container {
    width: 60%;
  }
  &__password-container {
    margin-bottom: 50px;
  }
  &__about-container {
    height: 200px;
  }
  &__submit-container {
    margin-top: 25px;
  }
}
