@import 'components/__shared/css/variables.scss';

.form-create-speaker {
  padding-bottom: 250px;

  &__label {
    display: inline-block;
    padding-bottom: 2px;
  }

  &__firstname-container,
  &__lastname-container,
  &__category-container,
  &__about-container, {
    margin-bottom: 15px;
  }
  &__about-container {
    height: 200px;
  }
  &__submit-container {
    margin-top: 25px;
  }
}
