<form class="form-create-speaker"
      data-component="form-create-speaker">

  {{#if notLogin}}
    <label class="form-label form-create-speaker__label"
           for="email">
    Почта
    </label>
    <div class="form-create-speaker__tip-container"
         data-element="form-create-speaker__tip-email-container">
    </div>
    <div class="form-create-speaker__email-container"
         data-element="form-create-speaker__email-container">
    </div>


    <label class="form-label form-create-speaker__label"
           for="password">
    Пароль
    </label>
    <div class="form-create-speaker__tip-container"
         data-element="form-create-speaker__tip-password-container">
    </div>
    <div class="form-create-speaker__password-container"
         data-element="form-create-speaker__password-container">
    </div>
  {{/if}}



  <label class="form-label form-create-speaker__label">
  Ваша фотография <span>(максимуи 600 X 600)</span>
  </label>
  <div class="form-create-speaker__tip-container"
       data-element="form-create-speaker__tip-add-avatar-container">
  </div>
  <div class="form-create-speaker__add-avatar-container"
       data-element="form-create-speaker__add-avatar-container">
  </div>

  <label class="form-label form-create-speaker__label"
         for="firstname">
  Имя
  </label>
  <div class="form-create-speaker__tip-container"
       data-element="form-create-speaker__tip-firstname-container">
  </div>
  <div class="form-create-speaker__firstname-container"
       data-element="form-create-speaker__firstname-container">
  </div>


  <label class="form-label form-create-speaker__label"
         for="lastname">
  Фамилия
  </label>
  <div class="form-create-speaker__tip-container"
       data-element="form-create-speaker__tip-lastname-container">
  </div>
  <div class="form-create-speaker__lastname-container"
       data-element="form-create-speaker__lastname-container">
  </div>


  <label class="form-label form-create-speaker__label"
         for="about">
  О себе
  </label>
  <div class="form-create-speaker__tip-container"
       data-element="form-create-speaker__tip-about-container">
  </div>
  <div class="form-create-speaker__about-container"
       data-element="form-create-speaker__about-container">
  </div>


  <label class="form-label form-create-speaker__label"
         for="category">
  Категория
  </label>
  <div class="form-create-speaker__tip-container"
       data-element="form-create-speaker__tip-category-container">
  </div>
  <div class="form-create-speaker__category-container"
       data-element="form-create-speaker__category-container">
  </div>


  <div class="form-create-speaker__submit-container"
       data-element="form-create-speaker__submit-container">
  </div>
</form>
