@import 'components/__shared/css/variables.scss';

.button-user-navigation {
  height: 50px;
  display: inline-block;
  box-sizing: border-box;

  &__link {
    display: inline-block;
    height: 100%;
    text-decoration: none;
    vertical-align: middle;
    padding-right: 30px;
    color: $white;

    &_selected {
      color: $light-blue;
    }
  }

  &__link:hover {
    color: $light-blue;
  }

  &__link:before {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
  }
}
