@import 'components/__shared/css/variables.scss';

.button-default {
  display: inline-block;
  font-size: 100%;
  padding: 10px 16px;
  background-color: $orange;
  color: white;
  border-radius: 2px;

  &:hover, {
    background-color: $darkOrange;
    cursor: pointer;
  }

  &_color-gray {
    background-color: gray;
  }
}
