@import 'components/__shared/css/variables.scss';

.form-registration {
  &__describe {
    font-size: 125%;
    color: $black;
    margin-bottom: 20px;
    cursor: default;
    text-align: center;
  }
  &__name-container {
    margin-bottom: 8px;
  }
  &__email-container {
    margin-bottom: 8px;
  }
  &__submit-container {
    margin-top: 15px;
    float: right;
  }
  &__login {
    margin-top: 15px;
    float: left;
    color: $gray;
  }
  &__login:hover {
    color: $black;
  }
  &::after {
    content: '';
    clear: both;
    display: block;
  }
}
