<h1 class="form-registration__describe">
  Создание Аккаунта
</h1>
<form class="form-registration"
      data-component="form-registration">

  <label class="form-label form-registration__label"
         for="name">
  Имя:
  </label>
  <div class="form-registration__tip-container"
       data-element="form-registration__tip-name-container">
  </div>
  <div class="form-registration__name-container"
       data-element="form-registration__name-container">
  </div>

  <label class="form-label form-registration__label"
         for="email">
  Почта
  </label>
  <div class="form-registration__tip-container"
       data-element="form-registration__tip-email-container">
  </div>
  <div class="form-registration__email-container"
       data-element="form-registration__email-container">
  </div>

  <label class="form-label form-registration__label"
         for="password">
  Пароль
  </label>
  <div class="form-registration__tip-container"
       data-element="form-registration__tip-password-container">
  </div>
  <div class="form-registration__password-container"
       data-element="form-registration__password-container">
  </div>

  <div class="form-registration__submit-container"
       data-element="form-registration__submit-container">
  </div>
  <a href="{{publicPath}}/login" class="form-registration__login">Вход в аккаут</a>
</form>
