<div class="stream"
     data-component="stream">
  <div class="stream__video-container"
       data-element="stream__video-container">
    <video class="stream__video"
           data-element="stream__video"
           muted>
    </video>
  </div>
  <div class="stream__button-record-container"
       data-element="stream__button-record-container">
  </div>
</div>
