@import 'components/__shared/css/variables.scss';

.logo {
  background-color: $white;
  height: 75px;

  &__button {
    background-color: $white;
    height: 100%;
    cursor: pointer;
  }
  &__img {
    width: 125px;
  }
}
