<div class="speakers-confirm"
     data-component="speakers-confirm">
  <div class="speakers-confirm__speakers-list-container"
       data-element="speakers-confirm__speakers-list-container">
  </div>
</div>
