<nav class="navigation-header"
     data-component="navigation-header">
  <div class="navigation-header__button-header-speakers-confirm-container"
       data-element="navigation-header__button-header-speakers-confirm-container">
  </div>
  <div class="navigation-header__button-header-speakers-container"
       data-element="navigation-header__button-header-speakers-container">
  </div>
  <div class="navigation-header__button-header-statistics-container"
       data-element="navigation-header__button-header-statistics-container">
  </div>
</nav>
