<div class="speaker-list"
     data-component="speaker-list">

    {{#each speakers}}
      <div class="speaker-list__item-container"
           data-element="speaker-list__item-container"
           data-speakerId="{{speakerId}}">
      </div>
    {{/each}}
</div>
