<div class="input-password"
     data-component="input-{{componentName}}">
  <input type="password"
         class="input input-password__inputField"
         data-element="input-{{componentName}}__inputField"
         id="{{componentName}}">
 <div class="input-password__button-eye-container"
      data-element="input-{{componentName}}__button-eye-container">
 </div>
</div>
