@import 'components/__shared/css/variables.scss';

.button-header {
  height: 100%;

  &__button {
    height: 100%;
    background-color: $white;
    padding: 0 10px;
    color: $black;

    &:hover {
      color: $light-blue;
    }

    &_selected {
      color: $light-blue;
    }
  }
}
