<select class="select select-{{componentName}}"
        data-component="select-{{componentName}}"
        id="{{componentName}}">
  <option disabled selected></option>
  <option value="home-master">Домашний мастер</option>
  <option value="visual-work">Отделочные работы</option>
  <option value="clean servise">Клининговые услуги</option>
  <option value="courier">Курьерские услуги</option>
  <option value="building-works">Строительные работы</option>
  <option value="tech-repair">Ремонт техники</option>
</select>
