@import 'components/__shared/css/variables.scss';
@import 'components/about/session-title/style.scss';
@import 'components/about/describe/style.scss';

.about-speaker {
  margin-bottom: 100px;

  &__about-container {
    width: 75%;
    margin: 50px auto;

    .about-speaker__speaker-name {
      font-size: 140%;
      font-weight: bold;
      margin-bottom: 5px;
    }

    .about-speaker__category {
      margin-bottom: 5px;
      & span {
        font-weight: bold;
      }
    }
    .about-speaker__status-container {
      margin-bottom: 5px;
    }
    .about-speaker__number-responses {
      margin-bottom: 5px;
      & span {
        font-weight: bold;
      }
    }
    .about-speaker__about-title {
      margin-top: 30px;
      font-size: 120%;
      font-weight: bold;
    }
    .about-speaker__about {
      margin-top: 10px;
    }
  }


  &__sessions-container {
    width: 75%;
    margin: 50px auto;

    .about-speaker__sessions-title {
      padding-bottom: 5px;
      margin-top: 30px;
      font-size: 140%;
      font-weight: bold;
      border-bottom: solid 2px $light-gray;
    }
  }
}
