@import 'components/__shared/css/variables.scss';

.create-speaker {
  text-align: center;

  &__describe {
    font-size: 125%;
    color: $black;
    padding-bottom: 30px;
    cursor: default;
    text-align: center;
  }

  &__main-container {
    width: 500px;
    padding-top: 50px;
    display: inline-block;
    text-align: left;
  }

  &__main-container_width-wide {
    margin-top: 100px;
    width: 700px;
  }
}
