@import 'components/__shared/css/variables.scss';

.header {
  box-sizing: border-box;
  background-color: $white;

  &__logo-container {
    float: left;
  }

  &__navigation-container {
    float: right;
  }

  &::after {
    color: red;
    content: '';
    display: block;
    clear: both;
  }
}

// @media only screen and (max-width: 420px) {
//   .header__logo-container {
//     margin-left: 10px;
//   }
// }
