<div class="my-list-item"
     data-component="my-list-item"
     data-questionId="{{questionId}}">

  <div class="my-list-item__navigation-container"
       data-element="my-list-item__navigation-container">
    <div class="my-list-item__buttons-container">
      <div class="my-list-item__button-send-container"
           data-element="my-list-item__button-send-container">
      </div>
      <div class="my-list-item__button-upload-container"
           data-element="my-list-item__button-upload-container">
      </div>
      <div class="my-list-item__button-play-container"
           data-element="my-list-item__button-play-container">
      </div>
      <div class="my-list-item__button-response-container"
           data-element="my-list-item__button-response-container">
      </div>
      <div class="my-list-item__button-reject-container"
           data-element="my-list-item__button-reject-container">
      </div>
    </div>
  </div>

  <div class="my-list-item__content"
       data-element="my-list-item__content">
    <p class="my-list-item__theme">
      {{session}}
    </p>
    <div class="my-list-item__status-question-container"
         data-element="my-list-item__status-question-container">
    </div>
    <p class="my-list-item__question"
       data-element="my-list-item__question">
      {{question}}
    </p>
  </div>

</div>
