@import 'components/__shared/css/variables.scss';

.my-list-item {
  margin-bottom: 5px;
  height: 80px;
  background-color: $light-gray;

  &__content {
    height: 100%;
    vertical-align: middle;

    .my-list-item__theme {
      padding-left: 20px;
      line-height: 80px;
      font-size: 120%;
      font-weight: bold;
      margin-bottom: 10px;
    }
  }

  &__navigation-container {
    padding-right: 20px;
    float: right;
    height: 60px;
    display: inline-block;
    padding-left: 20px;

    &::before {
      content: '';
      display: inline-block;
      height: 100%;
      vertical-align: bottom;
    }

    .my-list-item__buttons-container {
      display: inline-block;
      vertical-align: bottom;
    }
  }
}
