<form class="form-login"
      data-component="form-login">

  <label class="form-label form-login__label"
         for="login">
  Логин
  </label>
  <div class="form-login__tip-container"
       data-element="form-login__tip-login-container">
  </div>
  <div class="form-login__login-container"
       data-element="form-login__login-container">
  </div>

  <label class="form-label form-login__label"
         for="password">
  Пароль
  </label>
  <div class="form-login__tip-container"
       data-element="form-login__tip-password-container">
  </div>
  <div class="form-login__password-container"
       data-element="form-login__password-container">
  </div>

  <div class="form-login__submit-container"
       data-element="form-login__submit-container">
  </div>
</form>
