<div class="add-avatar"
     data-component="add-avatar">
  <img class="add-avatar__img"
       data-element="add-avatar__img"
       alt="avatar">
  <input class="add-avatar__input"
         data-element="add-avatar__input"
         type="file"
         accept="image/x-png,image/gif,image/jpeg">
</div>
