@import 'components/__shared/css/variables.scss';

.my-requests {
  margin-bottom: 150px;

  &__title-container {
    width: 100%;
    background-color: $very-light-gray;
    border-bottom: 1px solid lightgray;
  }

  &__request-list-container {
    width: 75%;
    margin: 0 auto;
    margin-top: 60px;
  }

  &__page-navigation-container {
    margin-top: 50px;
    width: 100%;
    text-align: center;
  }
}
