<div class="my-requests"
     data-component="my-requests">
  <div class="my-requests__title-container"
       data-element="my-requests__title-container">
  </div>
  <div class="my-requests__request-list-container"
       data-element="my-requests__request-list-container">
  </div>
  <div class="my-requests__page-navigation-container"
       data-element="my-requests__page-navigation-container">
  </div>
</div>
