@import 'components/__shared/css/variables.scss';

.form-ask-question {
  border-bottom: solid 3px $light-gray;
  padding-bottom: 40px;

  &::after {
    content: '';
    display: block;
    clear: both;
  }

  &__ask-container {
    height: 150px;
  }

  &__submit-container {
    margin-top: 35px;
    display: inline-block;
    float: right;
  }
}
