<form class="form-ask-question"
      data-component="form-ask-question">

  <div class="form-ask-question__tip-container"
       data-element="form-ask-question__tip-ask-container">
  </div>
  <div class="form-ask-question__ask-container"
       data-element="form-ask-question__ask-container">
  </div>

  <div class="form-ask-question__submit-container"
       data-element="form-ask-question__submit-container">
  </div>
</form>
