<div class="session-title">
  <h2 class="session-title__theme">
    {{sessionTheme}}
  </h2>
  <p class="session-title__category">
    <span>Категория:</span> {{categoryName}}
  </p>
  <p class="session-title__speaker">
    <span>Спикер: </span> {{speakerFirstname}} {{speakerLastname}}
  </p>
</div>
