@import 'components/__shared/css/variables.scss';

.page {

  &__header-container {
    height: 75px;
    width: 100%;
  }

  &__public-session-details-container {
    width: 100%;
    border-top: 1px solid $black;
  }
}
