@import 'components/__shared/css/variables.scss';

.tip-inline {
  color: $red-intense;
  font-size: 100%;
}
.tip-inline_font-smal {
  font-size: 80%;
}
.tip-inline_color-green {
  color: green;
}
.tip-inline_color-black {
  color: $black;
}
