<div class="my-sessions-list"
     data-component="my-sessions-list">
  <h1 class="my-sessions-list__describe">Добавленные сессии</h1>
  <div class="my-sessions-list__list-container"
       data-element="my-sessions-list__list-container">
    {{#each sessions}}
      <div class="my-sessions-list__item">
        <p>{{theme}}</p>
      </div>
    {{/each}}
  </div>
</div>
