<div class="my-sessions-list"
     data-component="my-sessions-list">
  <h2 class="my-sessions-list__describe">Добавленные сессии</h2>
  <div class="my-sessions-list__list-container"
       data-element="my-sessions-list__list-container">
    {{#each sessions}}
      <div class="my-sessions-list__item-container"
           data-element="my-sessions-list__item-container"
           data-sessionId="{{sessionId}}">
      </div>
    {{/each}}
  </div>
</div>
