<div class="login"
     data-component="login">
  <div class="login__main-container"
       data-element="login__main-container">
    <h1 class="login__describe">
    Вход
    </h1>
    <div class="login__form-container"
         data-element="login__form-container">
    </div>
  </div>
</div>
