@import 'components/__shared/css/variables.scss';

.form-login {
  padding-bottom: 250px;

  &__email-container {
    margin-bottom: 8px;
  }
  &__submit-container {
    margin-top: 15px;
    float: left;
  }
  &__registratinon {
    margin-top: 15px;
    float: right;
    color: $gray;
  }
  &__registratinon:hover {
    color: $black;
  }
}
