<form class="form-login"
      data-component="form-login">

  <label class="form-label form-login__label"
         for="email">
  Почта
  </label>
  <div class="form-login__tip-container"
       data-element="form-login__tip-email-container">
  </div>
  <div class="form-login__email-container"
       data-element="form-login__email-container">
  </div>

  <label class="form-label form-login__label"
         for="password">
  Пароль
  </label>
  <div class="form-login__tip-container"
       data-element="form-login__tip-password-container">
  </div>
  <div class="form-login__password-container"
       data-element="form-login__password-container">
  </div>

  <div class="form-login__submit-container"
       data-element="form-login__submit-container">
  </div>
  <a href="{{publicPath}}/registration" class="form-login__registratinon">Регистрация</a>
</form>
