<div class="create-speaker"
     data-component="create-speaker">
  <div class="create-speaker__main-container"
       data-element="create-speaker__main-container">
    <h1 class="create-speaker__describe">
    Регистрация Спикера
    </h1>
    <div class="create-speaker__form-container"
         data-element="create-speaker__form-container">
    </div>
  </div>
</div>
