@import 'components/__shared/css/variables.scss';

.user-navigation {
  width: 75%;
  font-size: 0;
  box-sizing: border-box;
  margin: 0 auto;
  text-align: left;

  &__button-container {
    font-size: 1rem;
    display: inline-block;
  }
}
