<div class="my-list-item"
     data-component="my-list-item"
     data-sessionId="{{sessionId}}">

  <div class="my-list-item__navigation-container"
      data-element="my-list-item__navigation-container">
   <div class="my-list-item__buttons-container">
     <div class="my-list-item__button-remove-container"
          data-element="my-list-item__button-remove-container">
     </div>
     <div class="my-list-item__button-edit-container"
          data-element="my-list-item__button-edit-container">
     </div>
   </div>
  </div>

  <div class="my-list-item__content"
       data-element="my-list-item__content">
    <p class="my-list-item__theme">
     {{theme}}
    </p>
  </div>

</div>
