<div class="my-list-item"
     data-component="my-list-item"
     data-sessionId="{{sessionId}}">
  <p class="my-list-item__theme">
    {{theme}}
  </p>
  <div class="my-list-item__button-container">
    <div class="my-list-item__button-edit-container"
         data-element="my-list-item__button-edit-container">
    </div>
    <div class="my-list-item__button-remove-container"
         data-element="my-list-item__button-remove-container">
    </div>
  </div>

</div>
