<div class="registration"
     data-component="registration">
  <div class="registration__main-container"
       data-element="registration__main-container">
    <div class="registration__form-container"
         data-element="registration__form-container">
    </div>
    <div class="registration__tip-confirm-message-container"
         data-element="registration__tip-confirm-message-container">
    </div>
  </div>
</div>
