<div class="registration"
     data-component="registration">
  <div class="registration__main-container">
    <h1 class="registration__describe">
    Создание Аккаунта
    </h1>
    <div class="registration__form-container"
         data-element="registration__form-container">
    </div>
  </div>
</div>
